#game_scence{
    margin: 0 auto;
    position: relative;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app{
  width: 800px;
  height: 600px;
  position: relative;
}
#number_shapes{
    position: absolute;
    bottom: -50px;
    left: 0;
}
#gravity_control{
    position: absolute;
    bottom: -50px;
    right: 0;

}

#number_shapes_input {
    position: absolute;
    top: -50px;
    left: 0;
}

#number_current_shapes{
  height: 40px;
  width: 200px;
}

#surface_occupied_shapes{
  height: 40px;
  width: 200px;
}


/* DESIGN FOR THE INPUTS AND BUTTONS */
.input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
  
  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .input-number-group .input-group-button {
    line-height: calc(80px/2 - 5px);
  }
  
  .input-number-group .input-number {
    width: 80px;
    padding: 0 12px;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }
  
  .input-number-group .input-number,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 40px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 0;
  }
  
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    display: inline-block;
    width: 40px;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .input-number-group .input-number-decrement {
    margin-right: 0.3rem;
  }
  
  .input-number-group .input-number-increment {
    margin-left: 0.3rem;
  }


/* Align the buttons and inputs position properly depending on devices */

/* Media query mobile devices */
@media only screen and (min-device-width: 480px) {
}

/* Media query for tablets*/
@media only screen and (min-device-width: 768px) {
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
}